@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&amp;display=swap");
@import "normalize.css";
@import "tailwindcss";

:root {
  --text-color: #333333;
  --card-color: #f9f9f9;
  --primary-color: #e64a19;
  --secondary-color: #f48fb1;
  --tertiary-color: #64b5f6;
  --background-color: #f5f5f5;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: black;
}